@model LoginViewModel

@{

}

<link rel="stylesheet" href="~/css/login.css" />



<div class="middle-box loginscreen text-center animated fadeInDown">
    <div class="ibox" id="ibox1">
        <div class="ibox-title">
            <img src="~/img/logo.png" alt="logo">
        </div>
        <div class="ibox-content">
            <div class="title">
                <h2><span class="text">Call Center Reporting</span></h2>
                <i class="text-right"><span>Communication Department </span></i>
            </div>
            <form asp-controller="Auth" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br />
                <input asp-for="Username" type="text" class="form-control" placeholder="Username">
                <span asp-validation-for="Username" class="text-danger"></span>
                <br />
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
                <br />
                <br />
                <input type="submit" value="Login" class="btn-outline btn-primary" />
            </form>
        </div>
    </div>
</div>