<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shift_Report</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <a class="navbar-brand" style="padding-left:10px">Call Center Shift Report</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    @if (User.IsInRole("Admin"))
                    {

                        <div class="form-inline my-2 my-lg-0">
                            <a class="btn btn-outline-primary my-2 my-sm-0" style="margin:10px" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                        </div>
                    }
                    <div class="form-inline my-2 my-lg-0">
                        <a class="btn btn-outline-danger my-2 my-sm-0" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                    </div>
                </div>
            </nav>
            @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <img src="~/img/NGHALogo.png" height="80" width="120"/>
                        <a class="navbar-brand">Call Center - Shift Report</a>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark btn btn-outline-danger" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>*@
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

            &copy; 2021 - Communication Department -
            <a class="small">DEVELOPED BY: SAAD ALDULAIJAN</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <environment include="Development">
        <script src="~/lib/vue/vue.js"></script>
        <script src="~/lib/vue/axios.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/lib/vue/vue.min.js"></script>
        <script src="~/lib/vue/axios.min.js"></script>
    </environment>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
